

@model List<CRMUser>


@{
    ViewBag.Title = "List";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Список сотрудников</title>
</head>
<body>
    <table border="1">
        <caption>Список сотрудников</caption>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Логин</th>
            <th>Action</th>
        </tr>
        @{
            foreach (var i in Model)
            {
                <tr>
                    <td>@i.FirstName</td>
                    <td>@i.LastName</td>
                    <td>@i.Login</td>
                    <td>
                        @Html.ActionLink("Отключить", "Delete", new { i = i.Login },
                            new { onclick = "return confirm('Вы уверены, что хотите отключить пользователя?');" })
                    </td>
                </tr>
            }
        }

    </table>

    <br>

    @Html.ActionLink("Отключить всех", "DeleteAll", new { },
                            new { onclick = "return confirm('Вы уверены, что хотите отключить всех пользователей?');" })
</body>
</html>


